
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/home.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
    link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
    title BooklyManage
  body
    header.header 
      div.menu.container
        a(href="#" class="logo") 
          i(class="ri-book-read-line") BooklyManage
        input(type="checkbox", id="menu")
        label(for="menu")
          i.menu-icon(class="ri-menu-line")
        nav.navbar
          ul 
            li 
              a(href="/login") Inicio sesión 
            li 
              a(href="/catalogo") Biblioteca
            li 
              a(href="/search") Buscar  
      div.header-content.container 
        div.header-txt
          h1 DISFRUTA DE UN LIBRO!
          p En nuestra página web, te ofrecemos la llave a un universo de historias fascinantes que aguardan ser exploradas. Desde clásicos atemporales hasta las últimas tendencias literarias, hay algo para cada alma curiosa.
            | Deja que cada página sea un portal hacia aventuras inimaginables y que cada palabra te envuelva en un abrazo de conocimiento y entretenimiento.
            | ¿Estás listo para comenzar esta emocionante travesía?
          a(href='/search', class="btn-1") Empezar 
            i(class="ri-arrow-right-line")
        div.header-img 
          img(src="img/fondo.avif", id="img1",alt="Books", srcset="")
          img(src="img/home3.jpg", id="img2",alt="Books", srcset="")
    footer.footer
      ul.social-iconf
        li.iconf-elem
          a.iconf(href="#") 
           i(class="ri-facebook-circle-fill")
        li.iconf-elem
          a.iconf(href="#") 
            i(class="ri-instagram-line")
        li.iconf-elem
          a.iconf(href="#") 
            i(class="ri-whatsapp-line")
      ul.menuf
        li.menuf-elem  BooklyManage
        li.menuf-elem 
          i(class="ri-copyright-line") 2024