
doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/home.css")
    link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
    title BooklyManage
  body
    header.header 
      div.menu.container
        a(href="#" class="logo") 
          i(class="ri-book-read-line") BooklyManage
        input(type="checkbox", id="menu")
        label(for="menu")
          i.menu-icon(class="ri-menu-line")
        nav.navbar
          ul 
            li 
              a(href="#") Inicio 
            li 
              a(href="#") Servicios 
            li  
              a(href="#") Productos
            li 
              a(href="#") Contactos 
      div.header-content.container 
        div.header-txt
          h1 DISFRUTA DE UN LIBRO!
          a(href="#" class="btn-1") Información 
        div.header-img 
          img(src="img/fondo.avif", id="img1",alt="Books", srcset="")
          img(src="img/home3.jpg", id="img2",alt="Books", srcset="")
    section.information.container
      div.information-content
        div.information-1
          img(src="img/PRIDE_AND_PREJUDICE.jpg", alt="prueba1", srcset="")
          h3 Libro1
        div.information-1
          img(src="img/JANE_EYRE.jpg", alt="prueba1", srcset="")
          h3 Libro2
        div.information-1
          img(src="img/MUJERCITAS_LOUISA_MAY.jpg", alt="prueba1", srcset="")
          h3 Libro3   
    footer.footer
      div.footer-content.container
        div.link
          h2 LOREM
          ul 
            li
              a(href="#") Lorem 
            li 
              a(href="#") Lorem
            li 
              a(href="#") Lorem 
            li 
              a(href="#") Lorem 
               