doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/login.css")
    title Login
  body
    .login-container
      .login-info-container
        h1.title Inicia sesión
        form.inputs-container(action='login' method='post')
          input.input(type="text" placeholder="Username")
          input.input(type="text" placeholder="Password")
          button.btn login
          p No tienes una cuenta? 
              a(href='/register', class='span') Registrate
      img.image-container(src="images/login.svg" alt="")


