doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css")
    link(rel="stylesheet" href="/css/login.css")
    title Login
  body
    .login-container
      .login-info-container
        h1.title Inicia sesión
        form.inputs-container(action='login' method='POST')
          input.input(type="text", name="username", id='username', placeholder="Username", required)
          input.input(type="text", name="password", id='password', placeholder="Password", required)
          button.btn(type="submit") Iniciar sesión
          p No tienes una cuenta? 
              a(href='/registrar', class='span') Registrate
      img.image-container(src="img/login.avif" alt="")