doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/css/register.css")
    title Registro
  body
    .register-container
      .register-info-container
        h1.title Registrate
        form.inputs-container(action='/registrar-usuario' method='POST')
            label.labeltext(for="nombre") Nombre
              input.input(type="text", name="nombre", id= "nombre", required)

            label.labeltext(for="email") E-mail
              input.input(type="email", name="email", id="email", required)

            label.labeltext(for="password") Password
              input.input(type="password", name="password", id="password", required)

            label.labeltext(for="confirmPassword") Confirm password    
              input.input(type="password", name="confirmPassword", id="confirmPassword", required)
            
            button.btn(type="submit") Registrate
            p ¿Ya tienes una cuenta? 
              a(href='/login', class='span') Inicia sesión
      img.image-container(src="images/login.svg" alt="")
