doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css", rel="stylesheet")
    link(rel="stylesheet", href="/css/search.css")
    title BooklyMange
  body 
    block content
      div.general-container
        div.information-search
          h1 Bienvenidos al mundo BookliManage
        form(action='/buscar-producto', method='GET' class='search-bar')
          input(type='text', name='q',class='inputSearch' placeholder='Buscar producto...')
          button(type='submit', class='buttonSearch')
            i(class="ri-search-eye-line")
