@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --login-bg: #e1e1e1;
  --title-bg: #504f57;
  --button-bg: #010101;
  --border-bg: #000000;
  --light-pink: #2f2c2f9c;
  --image-bg: #67666887;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: var(--border-bg);
}

body {
  margin: 2rem 2rem;
  height: 50vh;
  font-family: "Poppins", sans-serif;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(18, 18, 18, 0.15);
}

.logo {
  font-size: 1.5rem;
  margin-left: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
  text-decoration: none;
}

.ulnavbar {
  margin-right: 1rem;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  display: block;
  font-weight: 900;
  margin-right: 2rem;
  color: var(--border-bg);
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.general-container {
  margin: 3rem 3rem;
  height: 80px;
  margin-top: -15rem;
  text-align: center;
}

.general-container {
  margin: 5%;
  min-width: 250px;
}
.general-container input[type=text] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #232325;
  border-radius: 20px;
}
.general-container input:hover, .general-container input:focus, .general-container input:active, .general-container input:focus-visible {
  border: 1px solid #f6f6f6;
  outline-width: 1px;
  outline-style: solid;
  outline-color: #f6f6f6;
}
.general-container button {
  padding: 8px 15px;
  margin-left: 10px;
  background-color: #232325;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.general-container button:hover {
  background-color: #f6f6f6;
}

.producto-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 25px;
}

.producto {
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}
.producto img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 20px;
}
.producto p {
  text-align: center;
  color: #000;
}
.producto h2 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: rgba(58, 58, 58, 0.8235294118);
}
.producto button {
  padding: 8px 15px;
  background-color: #232325;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: -moz-available;
  width: -webkit-fill-available;
}
.producto button:hover {
  background-color: #f6f6f6;
}

.producto-label {
  font-size: 18px;
  font-family: "Reddit Mono";
}
.producto-label img {
  max-width: 50px;
}
.producto-label span {
  margin-left: 2em;
}

.modal {
  display: none;
}

/* Estilos para el modal */
.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(43, 41, 41, 0.5490196078);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#btn-modal:checked ~ .container-modal {
  display: flex;
}

.content-modal {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}

.content-modal h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.input-mas {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #000000;
  border-radius: 2rem;
  box-sizing: border-box;
  font-size: 16px;
}
.input-mas:focus {
  border-color: rgba(109, 109, 110, 0.8901960784);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.btn-agregar {
  padding: 10px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 12px;
  margin-top: 1rem;
}
.btn-agregar:hover {
  border: 1px solid #000;
  color: black;
  background-color: #ffffff;
}

.btn-cerrar {
  margin-top: 10px;
  margin-right: 1rem;
  display: flex;
  justify-content: right;
  font-size: 1rem;
  font-weight: bold;
}
.btn-cerrar:hover, .btn-cerrar:focus {
  color: #232524;
  text-decoration: none;
  cursor: pointer;
}

.boton-modal {
  display: flex;
  align-items: center;
}
.boton-modal label {
  cursor: pointer;
  /* Asegura que el cursor cambie al pasar por encima del label */
  display: flex;
  align-items: center;
}
.boton-modal input[type=checkbox] {
  display: none;
  /* Oculta el checkbox */
}
.boton-modal i {
  margin-left: 8px;
  /* Espaciado opcional entre el checkbox y el icono */
}

/*# sourceMappingURL=catalogo.css.map */
