@import url("https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  font-family: "Baloo Bhaijaan 2";
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

img {
  max-width: 100%;
}

#img2 {
  width: 10rem;
  height: 5rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 70vh;
  padding: 100px 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(18, 18, 18, 0.15);
}

.logo {
  color: rgba(0, 0, 0, 0.5764705882);
  font-size: 1.5rem;
  margin-left: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  display: block;
  font-weight: 900;
  margin-right: 2rem;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
}

.header-txt {
  flex-basis: 50%;
  padding: 0 5rem;
  text-align: justify;
}

.header-txt h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: left;
}

.btn-1 {
  display: inline-block;
  padding: 13px 25px;
  color: white;
  border-radius: 25px;
  background-color: #6b6b6b;
  text-transform: capitalize;
  margin-top: 1rem;
}

.header-img {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-img img {
  width: 400px;
  margin-bottom: 2rem;
}

.swiper {
  margin-top: 40px;
}

.swiper-slide {
  margin-bottom: 50px;
  background-color: white;
  box-shadow: 0 30px 30px rgba(28, 27, 27, 0.3019607843);
  border-radius: 15px;
  height: 420px;
  width: 50px;
  position: relative;
}

.swiper-slide img {
  width: 295px;
  border-radius: 15px;
  height: 420px;
}

h3 {
  font-size: 17px;
  color: black;
  text-transform: capitalize;
}

.footer {
  padding: 50px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.link a {
  font-size: 15px;
  display: 17px;
  margin-bottom: 10px;
}

.link a:hover {
  color: #050505;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(8, 8, 8, 0.5568627451);
    margin: 0 10px;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  .menu .navbar ul li a {
    color: white;
  }
  .logo {
    display: none;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header {
    min-width: 0vh;
    padding: 100px 30px;
  }
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  .header-txt {
    margin-bottom: 20px;
  }
  .header-img img {
    display: none;
  }
  .information {
    display: none;
  }
  .menu-container {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }
}

/*# sourceMappingURL=home.css.map */
