@import url("https://fonts.googleapis.com/css2?family=Nobile:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon/fonts/remixicon.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  font-family: "Baloo Bhaijaan 2";
  background-position: center;
}

img {
  max-width: 100%;
}

#img2 {
  width: 10rem;
  height: 5rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  min-height: 70vh;
  padding: 100px 0;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(18, 18, 18, 0.15);
}

.logo {
  color: rgba(0, 0, 0, 0.5764705882);
  font-size: 1.5rem;
  margin-left: 5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.menu .navbar ul li {
  position: relative;
  float: left;
}

.menu .navbar ul li a {
  font-size: 18px;
  padding: 20px;
  display: block;
  font-weight: 900;
  margin-right: 2rem;
}

#menu {
  display: none;
}

.menu-icono {
  width: 25px;
}

.menu label {
  cursor: pointer;
  display: none;
}

.header-content {
  display: flex;
  align-items: center;
  margin: 0 5rem;
}

.header-txt {
  flex-basis: 50%;
  padding: 0 5rem;
  text-align: justify;
}

.header-txt h1 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 2rem;
  text-align: left;
}

.btn-1 {
  display: inline-block;
  padding: 13px 25px;
  border: solid;
  border-color: #000;
  border-radius: 25px;
  text-transform: capitalize;
  margin-top: 1rem;
}
.btn-1 i {
  transition: all 0.3s ease;
}
.btn-1:hover i {
  content: "\f112";
  font-family: "remixicon";
  vertical-align: middle;
}

.header-img {
  flex-basis: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.header-img img {
  width: 400px;
  margin-bottom: 2rem;
}

h3 {
  font-size: 17px;
  color: black;
  text-transform: capitalize;
}

.footer {
  width: 100%;
  position: relative;
  background-color: rgba(2, 2, 2, 0.5450980392);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 2;
}

.social-iconf {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  position: relative;
  margin: 10px 5px;
  flex-wrap: wrap;
}

.iconf-elem {
  list-style: none;
}

.iconf {
  color: #fff;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.iconf:hover {
  transform: translateY(-10px);
}

.menuf {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.menuf-elem {
  list-style: none;
}

.menuf-iconf {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.5;
  transition: 0.3s;
}

.menuf-iconf:hover {
  opacity: 1;
}

.link a {
  font-size: 15px;
  display: 17px;
  margin-bottom: 10px;
}

.link a:hover {
  color: #050505;
}

@media (max-width: 991px) {
  .menu {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: rgba(8, 8, 8, 0.5568627451);
    margin: 0 10px;
    display: none;
  }
  .menu .navbar ul li {
    width: 100%;
  }
  .menu .navbar ul li a {
    color: white;
  }
  .logo {
    display: none;
  }
  #menu:checked ~ .navbar {
    display: initial;
  }
  .header {
    min-width: 0vh;
    padding: 100px 30px;
  }
  .header-content {
    flex-direction: column;
    text-align: center;
  }
  .header-txt {
    padding: 0;
  }
  .header-img img {
    display: none;
  }
  .menu-container {
    padding: 30px;
  }
  .menu label {
    display: initial;
  }
  .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }
  .footer {
    width: 100%;
  }
}

/*# sourceMappingURL=home.css.map */
